.comment_box {
    background: rgba(236, 231, 244, 0.2);
    margin-top: 5px;
}

.choose_button {
    border: none;
    background: rgba(70, 42, 104, 0.31);
    height: 3vh;
    min-height: 20px;
    cursor: pointer;
    margin-left: 5px;
}

.choose_button:active {
    background: rgba(70, 42, 104, 0.02);
}
