.footer_block {
    background: rgba(195, 174, 223, 0.78);
    font-size: xxx-large;
    font-weight: lighter;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}