.main {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    margin-left: 10px;
    background: rgba(124, 105, 134, 0.45);
    border: none;
    height: 5vh;
    width: 8vw;
    min-height: 30px;
    min-width: 100px;
    font-weight: bolder;
    cursor: pointer;
}

.button_box {
    height: 40%;
    min-height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.reset_button {
    background: rgba(238, 236, 240);
}